<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minecraftcompanion">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinecraftCompanion">

        <activity
            android:name="com.acimis.minecraftinstaller.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/Theme.MinecraftCompanion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Handle .mcworld files - file scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="file"
                    android:pathPattern=".*\\.mcworld"
                    android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle .mcworld files - content scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="content"
                    android:pathPattern=".*\\.mcworld"
                    android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle .mcpack files - file scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="file"
                    android:pathPattern=".*\\.mcpack"
                    android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle .mcpack files - content scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="*"
                    android:scheme="content"
                    android:pathPattern=".*\\.mcpack"
                    android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle files by MIME type as backup -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
        </activity>

        <service
            android:name="com.acimis.minecraftinstaller.InstallerService"
            android:exported="false" />
    </application>
</manifest>